body{
    display:flex; /* Deixa as divs filhas uma do lado da outra*/
    justify-content: left; /* Só funciona c display:flex*/
}
#tabela{
    background-color: rgb(140, 140, 233);
    width: 150px;
    height: 150px;
    margin: 20px;
    font-family: sans-serif;
    font-size: 14px;
}
div#estados{
    text-align: center;
    font-family: sans-serif;
    margin-top: 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    text-align: left;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    text-align: left;
}
svg{
    margin-top: -60px;
}